<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @option.value %>
</p>

<p>
  <strong>Poll:</strong>
  <%= @option.poll_id %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
